<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>模拟发牌</title>
    <link href="../../static/layui/css/layui.css" rel="stylesheet">
    <link href="../../static/css/testGame.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../static/layui/layui.js"></script>
    <script type="text/javascript" src="../../static/js/game/testGame.js"></script>
</head>
<body>
<div class="container">

    <div class="other-player">
        <button type="button" class="layui-btn layui-btn-radius" id="deal-cards-but">发牌</button>
        <button type="button" class="layui-btn layui-btn-radius">出牌</button>
    </div>
    <div class="myself">
        <img id="avatar" height="200" width="200" src="https://pic.616pic.com/ys_bnew_img/00/45/42/WK8EVe14vi.jpg"
             alt="本人头像">
        <ol id="hand-area">
            <li>
                <img class="card" src="../../static/img/poker/DG.png">
                <!-- <div style="background: #1e9fff"></div> -->
            </li>
            <li>
                <img class="card" src="../../static/img/poker/DG.png">
                <!-- <div style="background: #1e9fff"></div> -->
            </li>

        </ol>
    </div>

</div>
</body>
</html>
